.profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 0;
  z-index: 1;
}

.profile-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  background-size: cover;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  border-radius: 20px;
  animation: dynamicShadow 5s infinite alternate ease-in-out;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.profile-left, .profile-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

.profile-gif {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 0;
  box-shadow: none;
}

.styled-profile-form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  max-width: 500px;
}

.profile-title {
  text-align: center;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.styled-btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.styled-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .profile-container {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    height: auto;
    overflow-y: auto;
    padding: 1rem;
  }

  .profile-left, .profile-right {
    width: 100%;
    height: auto;
  }

  .profile-gif {
    width: 50%;
    height: auto;
  }

  .styled-profile-form {
    padding: 1.5rem;
    max-width: 90%;
  }

  .profile-title {
    margin-bottom: 1rem;
  }

  .styled-btn {
    width: 100%;
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .profile-gif {
    width: 40%;
    height: auto;
  }

  .styled-profile-form {
    padding: 1.5rem;
    max-width: 90%;
  }

  .profile-title {
    margin-bottom: 1rem;
  }

  .styled-btn {
    width: 100%;
    margin-top: 1rem;
  }
}
