* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  /* margin: 1rem; */
  padding: 1rem;
  /* text-align: center; */
  background-color: rgb(227, 230, 230);
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.nav {
  background-color: rgb(0, 6, 12);
  color: rgb(194, 228, 255);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 3rem;
  padding: 0 1rem;
  height: 80px;
 
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: aliceblue;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

 .signProp{
  height: 100%;
  padding-top: 10px;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  white-space: nowrap;
}
.nav-links a {
  color: aliceblue;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border: 2px solid transparent; 
  border-radius: 10px; 
  transition: border-color 0.3s ease; 
}

.nav-links a:hover {
  text-decoration-color: lightblue; 
  text-decoration-thickness: 2px; 

  /* border: 2px solid lightblue;
  border-radius: 10px;   */
}


.nav li.active {
  
  text-decoration: underline ;
  text-decoration-color: orange; 
  text-decoration-thickness: 2px; 
  text-underline-offset: 6px; 
}
.nav li {

 
 
  /* text-decoration-thickness: 2px;  */

  text-decoration-color: transparent;
  text-decoration-thickness: 2px; 
  border: 2px solid transparent; 
  border-radius: 10px; 
}

/* .nav li:hover {

 
  text-decoration-color: lightblue; 
  text-decoration-thickness: 2px; 

  border: 2px solid lightblue;
  border-radius: 10px; 
  
  
} */
.cart-icon svg{
  color: aliceblue;
}
.cart-icon.active svg{
  text-decoration: underline;
  color: rgb(221, 136, 8);
}

.secondNav {
  width: 100%;
  background-color: rgb(27, 37, 54);
  color: rgb(230, 230, 230);
  display: flex;
  justify-content:space-between;
  align-items: center; 
  gap: 3rem;
  padding: 0 1rem;
  height: 50px;
  position: relative;
}
.secondNav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;

  
  /* color:rgb(6, 23, 78); */
}
.signInPopoverWrapper {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
.leftSide {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.secondNav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.15rem 0.30rem;
  
}
.secondNav li.active {
  
  text-decoration: underline ;
  text-decoration-color: orange; 
  text-decoration-thickness: 2px; 
  text-underline-offset: 6px; 
}
.secondNav li{
  text-decoration-color: transparent;
  text-decoration-thickness: 2px; 
  border: 2px solid transparent; 
  border-radius: 10px; 
  display: block;
}
.secondNav li:hover {

 
  text-decoration-color: lightblue;
  text-decoration-thickness: 2px; 
  border: 2px solid lightblue; 
  border-radius: 10px; 
  
}

 .hideOnMobile{
  padding-top: 20px;
  
  
 
  text-underline-offset: 6px; 
  
  text-decoration-color: transparent;
  text-decoration-thickness: 2px; 
  border: 2px solid transparent; 
  border-radius: 10px; 
  
}
.hideOnMobile:hover{
  
  
 
  text-underline-offset: 6px; 
  
  text-decoration-color: lightblue;
  text-decoration-thickness: 2px; 
  border: 2px solid lightblue; 
  border-radius: 10px; 
}
/* 
 @media(min-width: 801px){
  .hideOnMobile{
    display: block;
  }
} */
@media (max-width: 1000px) {
   .nav-links,   #cart, #sell, .hideOnMobile {
    display: none;
  }

  .nav {
    justify-content: center;
  }

  .search-bar {
    width: 100%;
    max-width: 400px; 
  }
}
.placeholder-text {
  position: absolute;
  /* left: 110px; */
  top: 3.5%;
  transform: translateY(-50%);
  pointer-events: none;
  color: gray;
  white-space: nowrap;
  justify-content: center;
  justify-self: unset;
}
.sequential-text-transition-container .text-content {
  color: rgb(255, 255, 255); /* Set your desired color here */
  font-weight: bold;
  font-size: large;
}

/* @media (max-width: 850px) {
  .placeholder-text {
    display: none;
  }
} */


.footer {
  background-color: #222324;
  padding: 20px 0;
  color: rgb(255, 202, 45);
}

.footer-content {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
}

.footer-bottom {
  margin-top: 20px;
}

.footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .MuiIconButton-root {
  margin-right: 8px;
}

.footer .MuiIconButton-root:last-child {
  margin-right: 0;
}

.image-container {
  position: relative;
  display: inline-block; /* or block, depending on your layout needs */
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
}


