* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: rgb(0, 7, 20);
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 3rem;
  padding: 0 1rem;
  height: 80px;
 
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: aliceblue;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

 .signProp{
  height: 100%;
  padding-top: 10px;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  white-space: nowrap;
}
.nav-links a {
  color: aliceblue;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border: 2px solid transparent; 
  border-radius: 10px; 
  transition: border-color 0.3s ease; 
}

.nav-links a:hover {
  text-decoration: none;
  border-color: lightblue; 
}


.nav li.active {
  
  text-decoration: underline ;
  text-decoration-color: orange; 
  text-decoration-thickness: 2px; 
  text-underline-offset: 6px; 
}
.nav li {

 
 
  /* text-decoration-thickness: 2px;  */

  border: 2px solid transparent; 
  border-radius: 10px; 
  
}

.nav li:hover {

 
  text-decoration-color: lightblue; 
  /* text-decoration-thickness: 2px;  */

  border: 2px solid lightblue;
  border-radius: 10px; 
  
}
.cart-icon svg{
  color: aliceblue;
}
.cart-icon.active svg{
  text-decoration: underline;
  color: rgb(221, 136, 8);
}

.secondNav {
  background-color: rgb(27, 37, 54);
  color: rgb(230, 230, 230);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 3rem;
  padding: 0 1rem;
  height: 50px;
}
.secondNav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.secondNav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.15rem 0.30rem;
  
}

.secondNav li.active {
  
  text-decoration: underline ;
  text-decoration-color: orange; 
  text-decoration-thickness: 2px; 
  text-underline-offset: 6px; 
}

.secondNav li:hover {

 
  text-decoration-color: lightblue;
  text-decoration-thickness: 2px; 
  border: 2px solid lightblue; 
  border-radius: 10px; 
  padding: 0.15rem 0.35rem;
}
 .hideOnMobile{
  padding-top: 20px;
  
}
/* 
 @media(min-width: 801px){
  .hideOnMobile{
    display: block;
  }
} */
@media (max-width: 1000px) {
   .nav-links,  .signProp, #cart, .hideOnMobile {
    display: none;
  }

  .nav {
    justify-content: center;
  }

  .search-bar {
    width: 100%;
    max-width: 400px; 
  }
}
.placeholder-text {
  position: absolute;
  /* left: 110px; */
  top: 3.5%;
  transform: translateY(-50%);
  pointer-events: none;
  color: gray;
  white-space: nowrap;
  justify-content: center;
  justify-self: unset;
}
.sequential-text-transition-container .text-content {
  color: rgb(196, 99, 21); /* Set your desired color here */
}
/* @media (max-width: 850px) {
  .placeholder-text {
    display: none;
  }
} */